/run
/build/
/lib/hypre-2.16.0/*
/lib/yaml/*
/output/**/*.csv
/output/**/*.h5
/output/**/*.txt
/output/**/*.png
/output/**/*.mp4
/output/anim/*.csv
/output/*.mp4
/output/*.png
/output/*.zip
/input/**/*.h5
/.vscode/
**/__pycache__/
*.DS_Store
