/run
/build/
/lib/hypre*/*
/lib/yaml/*
/output/**/*.csv
/output/**/*.h5
/output/**/*.txt
/output/**/*.png
/output/**/*.mp4
/output/**/*.exdir
/output/anim/*.csv
/output/*.mp4
/output/*.png
/output/*.zip
/output/*.out
/output/*.err
/input/**/*.h5
/input/**/*.exdir
/.vscode/
**/__pycache__/
*.DS_Store
*test.ipynb
*.xls*
